html,body {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body {
    background-color: black !important;
}
p{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.game img{
    width: 45%;
    object-fit: contain;
}
.game div{
    margin-top: 10%;
    margin-left: 5%;
}
.join-game{
    margin-top: 20%;
}
.find-by-tag {
    margin-bottom: 20px;
}

.container {
    width: 40%;
    margin: 30px auto;
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .games{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.container p
{
    margin-left: 220px;
}
.hidden{
    display:none;
}
td{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.play {
    display : flex;
    flex-direction: column;
    align-items: center;
}
.play button {
    margin-top: 100px;
    width: 15%;
}